 
 <h2 *ngIf="Auth.user">Welcome {{ Auth.user.username }}!</h2>

 <ul class="nav justify-content-end">
        <li class="nav-item" *ngIf="!Auth.user">
          <a class="nav-link active" [routerLink]="['/signup']" href="#">SignUp</a>
        </li>
        <li class="nav-item" *ngIf="!Auth.user">
          <a class="nav-link" a [routerLink]="['/login']">LogIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item" *ngIf="Auth.user">
          <a class="nav-link disabled" href="#" (click)="logout()">LogOut</a>
        </li>
      </ul>


<!-- START HEADER-->
<!-- <header class="header" app-header>HrLevers</header> --> 
<!-- END HEADER
START SIDEBAR-->
<!-- <nav class="page-sidebar" id="sidebar" app-sidebar></nav> -->
<!-- END SIDEBAR

<!START PAGE CONTENT-->
<div class="content-wrapper">
    <router-outlet></router-outlet>
    <footer class="page-footer" app-footer></footer>
</div>
<!-- END PAGE CONTENT-->

