<div class="container color" *ngIf="member">
    <div class="jumbotron jumbotron-fluid color">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1 class="display-4"> Your Profile...</h1>
                    <p class="lead"> Explore {{member.Name}} status within the organization and make greats things for Talent Development...</p>
                </div>
                <div class="col-4">
                        <img [src]=member.employee.profilePic.path width="150px">
                </div>
            </div>
        </div>
    </div>


    <div class="margin">
        <h2 class="center">Your Current WorkBalance
        </h2>
        <hr class="style13">
        <br>
    </div>

    <div class="page-content fade-in-up">
        <div class="row mb-4">
            <div class="col-lg-4 col-md-6">
                <div class="card mb-4">
                    <div class="card-body flexbox-b">
                        <div class="easypie mr-4" data-percent="73" data-bar-color="#18C5A9" data-size="80" data-line-width="8">
                            <span class="easypie-data text-success" style="font-size:32px;">
                                <i class="la la-users"></i>
                            </span>
                        </div>
                        <div>
                            <h3 class="font-strong text-success">{{member.exp.average_montly_hours}}</h3>
                            <div class="text-muted">AVG. MONTHLY HOURS</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card mb-4">
                    <div class="card-body flexbox-b">
                        <div class="easypie mr-4" data-percent="42" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
                            <span class="easypie-data font-26 text-primary">
                                <i class="ti-world"></i>
                            </span>
                        </div>
                        <div>
                            <h3 class="font-strong text-primary">{{member.exp.number_project}}</h3>
                            <div class="text-muted">Nº OF PROJECTS</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card mb-4">
                    <div class="card-body flexbox-b">
                        <div class="easypie mr-4" data-percent="70" data-bar-color="#ff4081" data-size="80" data-line-width="8">
                            <span class="easypie-data text-pink" style="font-size:32px;">
                                <i class="la la-tags"></i>
                            </span>
                        </div>
                        <div>
                            <h3 class="font-strong text-pink">{{member.exp.Percent_Remote}}%</h3>
                            <div class="text-muted">PERCENT REMOTE WORK</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
                <div class="col-lg-11">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="ibox ibox-fullheight">
                                <div class="ibox-body bg-pink">
                                        <h5 class="text-center text-white mb-3">Sensor HeartBeat</h5>
                                    <div>
                                            <div class="center">
                                            <img src="https://png.icons8.com/metro/1600/like.png" height="175px">
                                          </div>
                                    </div>
                                </div>
                                <div class="ibox-body bg">
                                    <div class="text-lighter mb-2">Average Rate this week...</div>
                                    <div>
                                            <span class="h1 mr-3 text-pink font-40">{{member.exp.Sensor_Heartbeat}} Ppm</span>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    <div class="col-lg-5">
                        <div class="ibox ibox-fullheight">
                            <div class="ibox-head">
                                <div class="ibox-title">Sensor Stepcount</div>
                                <div class="ibox-tools">
                                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"><i class="la la-upload"></i>Export</a>
                                        <a class="dropdown-item"><i class="la la-file-excel-o"></i>Download</a>
                                        <a class="dropdown-item"><i class="la la-print"></i>Print</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-body">
                                <div class="mb-5">
                                    
                                    <div class="flexbox-b mb-2">
                                        <span class="badge-point badge-pink mr-2"></span>Steps today...
                                        <span class="h4 mb-0 ml-4">{{member.exp.Sensor_StepCount}}!</span>
                                    </div>
                                </div>
                                <div class="ibox-fullwidth-block">
                                        <div class="center">
                                        <img src="http://icons.iconarchive.com/icons/graphicloads/transport/256/steps-icon.png" height="250px">
                                              </div>                              
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="margin">
            <h2 class="center">Your Current Role
            </h2>
            <hr class="style13">
            <br>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header bg-warning" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Role within Organization
              </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <h5>Role Name: </h5>
                                    <p>{{position.position.DenominacionDelPuesto}} </p>
                                </div>
                                <div class="col-sm">
                                        <h5>Category: </h5>
                                        <p>{{position.position.Categoria}} </p>                                </div>
                                <div class="col-sm">
                                        <h5>Colectivo: </h5>
                                        <p>{{position.position.Colectivo}} </p>                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-info" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Role Mission
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h5>Mission: </h5>
                                        <p>{{position.position.Mision}} </p>                                </div>
                                <div class="col">
                                    <div class="center">
                                        <img src="http://smartcities.osborneclarke.com/wp-content/uploads/sites/7/2017/02/OC-Future-Living-Icon.png">         
                                                            </div>
                            </div>
                                    </div>
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                Responsability Level </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                                <div class="container">
                                        <div class="row">
                                            <div class="col-sm">
                                                <h5>Supervisor: </h5>
                                                <p>{{position.position.ResponsabilidadYAutonomia_DependenciaFuncionalDelPuesto}} </p>
                                            </div>
                                            <div class="col-sm">
                                                    <h5>Taking Decisions: </h5>
                                                    <p>{{position.position.ResponsabilidadYAutonomia_MagnitudEnLaTomaDeDecisiones}} </p>                                </div>
                                            <div class="col-sm">
                                                    <h5>Leadership required?: </h5>
                                                    <p>{{position.position.ResponsabilidadYAutonomia_ResponsabilidadYoMando}} </p>                                </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="margin">
                    <h2 class="center"> Your Team Mates </h2>
                    <hr class="style13">
                    <br>

                    <div class="container">
                            <div class="row">
                              <div *ngFor="let mate of member.mates | paginate: { itemsPerPage: 4, currentPage: p }" class="col col-md-3">
                                <div class="card-deck">
                                  <div class="card text-center card-air centered mb-4" style="max-width:320px;">
                                    <div class="card-body">
                                      <div class="card-avatar mt-3 mb-3">
                                        <img class="img-circle" [src]=member.employee.profilePic.path
                                          alt="image"/>
                                      </div>
                                      <h4 class="card-title mb-1">{{mate.Name}}</h4>
                                      <div class="text-muted">{{mate.Department}}</div>
                                      <p class="mt-4 mb-5">Mail: {{mate.Email}}</p>
                    
                                      <div class="d-flex justify-content-around align-items-center font-18">
                                        <a data-toggle="tooltip1" data-placement="top" title="{{mate.Email}}" class="btn btn-outline-secondary btn-icon-only btn-circle btn-air" href="javascript:;">
                                            <i class="far fa-envelope-open"></i>
                                        </a>
                                        <a data-toggle="tooltip" data-placement="top" title="{{mate.Phone}}" class="btn btn-outline-secondary btn-icon-only btn-circle btn-air " href="javascript:;">
                                            <i class="fas fa-mobile-alt"></i>
                                        </a>
                                       
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                
                                    </div>
                                  </div>
                                </div>
                                <div class="center">
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                      
