



<div class="page-content fade-in-up">

                <div class="flexbox">
                    <div class="flexbox-b">
                        <div class="ml-5 mr-5">
                            <img class="img-circle" src="http://askuptoo.com/images/members/profile_img2.png" alt="image" width="110" />
                        </div>
                        <div>
                            <h4>Lynn Weaver</h4>
                            <div class="text-muted font-13 mb-3">
                                <span class="mr-3"><i class="ti-location-pin mr-2"></i>New York, USA</span>
                                <span><i class="ti-calendar mr-2"></i>12.04.2018</span>
                            </div>
                            <div>
                                <span class="mr-3">
                                    <span class="badge badge-primary badge-circle mr-2 font-14" style="height:30px;width:30px;"><i class="ti-briefcase"></i></span>Partner</span>
                                <span>
                                    <span class="badge badge-pink badge-circle mr-2 font-14" style="height:30px;width:30px;"><i class="ti-cup"></i></span>Vip Status</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-inline-flex">
                        <div class="px-4 text-center">
                            <div class="text-muted font-13">ARTICLES</div>
                            <div class="h2 mt-2">134</div>
                        </div>
                        <div class="px-4 text-center">
                            <div class="text-muted font-13">FOLLOWERS</div>
                            <div class="h2 mt-2">540</div>
                        </div>
                    </div>
                </div>
            </div>

<div class="margin3"
></div>
            
  <div class="row mb-4">
    <div class="col-lg-4 col-md-6" data-bar-color="#5c6bc0">

      <app-infocounter class="font-strong text-pink" [counter]="count" [counterTitle]="'Nº Employees'"></app-infocounter>
    </div>
    <div class="col-lg-4 col-md-6" data-bar-color="#18C5A9">
      <app-infocounter [counter]="projects" [counterTitle]="'Nº Projects'"></app-infocounter>
    </div>
    <div class="col-lg-4 col-md-6 color3" data-bar-color="#ff4081">
      <app-infocounter [counter]="avg" [counterTitle]="'Avg Monthly Hours'"></app-infocounter>
    </div>
  </div>

<div class="margin3"></div>
  <div class="row">
    <div class="col-xl-6">
      <div class="ibox ibox-fullheight">
        <div class="ibox-body">
          <div class="d-flex justify-content-between m-b-20">
            <div>
              <h3 class="m-0">Employee Sentiment Tracking</h3>
            </div>
            <ul class="nav nav-pills nav-pills-rounded nav-pills-air" id="sales_tabs">
              <li class="nav-item ml-1">
                <a class="nav-link active" data-toggle="tab" data-id="1" href="javascript:;"></a>
              </li>
              <li class="nav-item ml-1">
                <a class="nav-link" data-toggle="tab" data-id="2" href="javascript:;"></a>
              </li>
              <li class="nav-item ml-1">
                <a class="nav-link" data-toggle="tab" data-id="3" href="javascript:;"></a>
              </li>
            </ul>
          </div>
          <div>
            <div class="margin2">
              <app-lineal-chart [keys]="defaultKeys" [values]='coll' [values2]='eng' [values3]='comp'></app-lineal-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="margin">
          <div class="col-lg-10">
            <div class="ibox ibox-fullheight">
              <div class="ibox-head">
                <div class="ibox-title">Performance Highlights</div>
                <div class="ibox-tools">
                  <a class="font-18" href="javascript:;">
                    <i class="ti-control-record"></i>
                  </a>
                </div>
              </div>
              <div class="ibox-body">
                <ul class="media-list media-list-divider">
                  <li class="media flexbox">
                    <div>
                      <div class="media-heading font-16">Avg Performance</div>
                      <div class="font-13 text-light"></div>
                    </div>
                    <h4 class="font-strong mb-0 ml-3 text-primary">{{performance}}</h4>
                  </li>
                  <li class="media flexbox">
                    <div>
                      <div class="media-heading font-16">AvgTalent Level</div>
                      <div class="font-13 text-light"></div>
                    </div>
                    <h4 class="font-strong mb-0 ml-3 text-success">{{talent}}</h4>
                  </li>
                  <li class="media flexbox">
                    <div>
                      <div class="media-heading font-16">Avg Time Spent in Company</div>
                      <div class="font-13 text-light"></div>
                    </div>
                    <h4 class="font-strong mb-0 ml-3 text-warning">{{time}}</h4>
                  </li>
                  <li class="media flexbox">
                      <div>
                        <div class="media-heading font-16">Avg Time Spent in Company</div>
                        <div class="font-13 text-light"></div>
                      </div>
                      <h4 class="font-strong mb-0 ml-3 text-warning">{{time}}</h4>
                    </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="margin3"></div>

    <div class="row">
        <div class="col-lg-11">
            <div class="row">
                <div class="col-lg-7">
                    <div class="ibox ibox-fullheight">
                        <div class="ibox-body bg-success">
                            <h5 class="text-center text-black mb-3">Workforce Age Distribution</h5>
                            <div>
                                <div class="margin2">
                                    <app-horizontalbar [keys]="keys2" [values]='aged'></app-horizontalbar>
                                  </div>
                            </div>
                        </div>
                        <div class="ibox-body">
                            <div class="text-lighter mb-2">Lorem Ipsum is simply dummy text</div>
                            <div>
                                <span class="h1 mr-3 text-success font-40">72.5%</span>
                                <span class="text-lighter">34.5% Higher then last month</span>
                            </div>
                        </div>
                    </div>
                </div>

               

            <div class="col-lg-5">
                <div class="ibox ibox-fullheight">
                    <div class="ibox-head">
                        <div class="ibox-title">GENDER PARITY</div>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"><i class="la la-upload"></i>Export</a>
                                <a class="dropdown-item"><i class="la la-file-excel-o"></i>Download</a>
                                <a class="dropdown-item"><i class="la la-print"></i>Print</a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-body">
                        <div class="mb-5">
                            
                            <div class="flexbox-b mb-2">
                                <span class="badge-point badge-primary mr-2"></span>Male
                                <span class="h4 mb-0 ml-4">148</span>
                            </div>
                            <div class="flexbox-b mb-2">
                                <span class="badge-point badge-pink mr-2"></span>Female
                                <span class="h4 mb-0 ml-4">153</span>
                            </div>
                        </div>
                        <div class="ibox-fullwidth-block">
                            <app-pie-chart [values]='genderm' [values2]='genderf'></app-pie-chart>
                          </div>
                    </div>
                </div>
            </div>
        </div>
   
<div class="margin3"></div>
   

    <app-employees></app-employees>