

<div class="container" *ngIf="member">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h1 class="display-4"> Your Team Member...</h1>
          <p class="lead"> This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
        <div class="col-4">
          <img src="http://askuptoo.com/images/members/profile_img2.png" width="150px">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>
              <i class="far fa-id-card"></i> Name:</h5>{{member.employee.Name}}</li>
          <li class="list-group-item">
            <h5>
              <i class="fas fa-briefcase"></i> Role:</h5>{{member.employee.Role}}</li>
          <li class="list-group-item">
            <h5>
              <i class="far fa-envelope-open"></i> Email:</h5> {{member.employee.Email}}</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>Surname:</h5>{{member.employee.Surname}}</li>
          <li class="list-group-item">
            <h5>
              <i class="fas fa-table"></i> Department:</h5>{{member.employee.Department}}</li>
          <li class="list-group-item">
            <h5>
              <i class="fas fa-mobile-alt"></i> Phone:</h5>{{member.employee.Phone}}</li>

        </ul>
      </div>
      <div class="col-sm">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>
              <i class="far fa-star"></i> Rising Star:</h5>{{member.exp.Rising_Star}}</li>
          <li class="list-group-item">
            <h5>
              <i class="far fa-heart"></i> Critical:</h5>{{member.exp.Critical}}</li>
          <li class="list-group-item">
            <h5>
              <i class="fas fa-rocket"></i> Talent Level:</h5>
          </li>
          <div class="progress">
              <!-- <p><ngb-progressbar type="success" [value]="25"></ngb-progressbar></p> -->
            </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="page-content fade-in-up">
    <div class="row mb-4">
      <div class="col-lg-4 col-md-6">
        <div class="card mb-4">
          <div class="card-body flexbox-b">
            <div class="easypie mr-4" data-percent="73" data-bar-color="#18C5A9" data-size="80" data-line-width="8">
              <span class="easypie-data text-success" style="font-size:32px;">
                <i class="la la-users"></i>
              </span>
            </div>
            <div>
              <h3 class="font-strong text-success">{{member.exp.average_montly_hours}}</h3>
              <div class="text-muted">AVG. MONTHLY HOURS</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card mb-4">
          <div class="card-body flexbox-b">
            <div class="easypie mr-4" data-percent="42" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
              <span class="easypie-data font-26 text-primary">
                <i class="ti-world"></i>
              </span>
            </div>
            <div>
              <h3 class="font-strong text-primary">{{member.exp.number_project}}</h3>
              <div class="text-muted">Nº OF PROJECTS</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card mb-4">
          <div class="card-body flexbox-b">
            <div class="easypie mr-4" data-percent="70" data-bar-color="#ff4081" data-size="80" data-line-width="8">
              <span class="easypie-data text-pink" style="font-size:32px;">
                <i class="la la-tags"></i>
              </span>
            </div>
            <div>
              <h3 class="font-strong text-pink">210</h3>
              <div class="text-muted">SUPPORT TICKETS</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4>{{member.employee.Name}} Current Skills Profile
          <i class="far fa-chart-bar"></i>
        </h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Spider_Chart.svg/2000px-Spider_Chart.svg.png">
      </div>
      <div class="w-100"></div>
      <div class="col">
        <h4>{{member.employee.Name}} Development Plan </h4>
      </div>
      <div class="col"></div>
    </div>



    <div *ngFor="let train of member.trains; let i = index" class="accordion" id="accordion{{i}}">
      <div class="card-header" id="heading{{i}}">
        <h5 class="mb-0">

          <button class="btn btn-link" type="button" data-toggle="collapse" attr.data-target="#collapse{{i}}" aria-expanded="true">
            <h5>{{train.Name}}</h5>
          </button>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </h5>
      </div>

      <div id="collapse{{i}}" class="collapse " attr.data-parent="#accordion{{i}}">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Action</th>
                <th scope="col">Description</th>
                <th scope="col">Duedate</th>
                <th scope="col">Status</th>
                <th><button [routerLink]="['/newtask', train._id]" type="button" class="btn btn-outline-info">Add new action</button></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of member.tasks; let j=index" >
               <span *ngIf="task.ActionPlan===train._id">
                  <td>{{task.Name}}</td>
                  <td>{{task.TaskDescription}}</td>
                  <td>{{task.Duedate}}</td>
                  <td>{{task.Done}}</td>
                  <td><button type="button" class="btn btn-primary btn-sm btn-success"><i class="far fa-edit"></i> Edit Action</button></td>
                  <td><button type="button" class="btn btn-primary btn-sm btn-danger"><i class="far fa-trash-alt"></i> Delete Action</button></td>
                </span>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>